@media only screen and (max-width:460px) {
    body{
        overflow-y: scroll;
        height: 150vh;
    }
    img{
        margin-top: 20%;
        width: 80vw;
    }
    .container{
        width: 80vw !important;
        height: fit-content;
    }
    button{
        width: 30vw;
        padding: 5px;
    }
    input{
        width: 60vw;
    }
    .d{
        display: flex;
        justify-content: center;
    }
    .d p{
        margin: 0%;
        text-align: center;
        width: 60vw;
        font-size: small;
    }
    .Logo{
        display: none;
    }
    .Motormentor_img{
        margin-top: 25%;
        width: 85vw;
    }
    .profile img{
        width: fit-content;
    }
    .profile{
        background-color: transparent;
        margin-bottom: 2%;
    }
    #navbar{
        justify-content: center;
    }
    #navbar div{
        font-size: x-small;
        margin-right: 1.2%;
    }
    #message{
        background-color: transparent;
        width: 60vw;
    }
 }
 