*{
  font-family: 'Roboto Condensed';
  color: #f5deb3;
}
body {
  background-color:#0f3057;
  text-align: center;
}
img {
  margin-top: 6%;
}

.container {
  color: #f5deb3;
  text-align: center;
  width: 40%;
  font-size: large;
  margin: auto;
  margin-top: 1%;
  background-color: #0f3057;
  border: 2px solid #EC3D5A;
  border-radius: 18px;
}

.d {
  margin: 25px;
}

input {
  text-align: center;
  font-size: large;
  width: 45%;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid #f5deb3;
}

button {
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  background-color: #EC3D5A;
  color: #f5deb3;
  font-size: larger;
  cursor: pointer;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: #EC3D5A;
}