*{
    font-family: 'Roboto Condensed';
    margin: 0%;
}
*::-webkit-scrollbar {
    display: none;
}
:root{
    --awhite : #f5deb3;
    --dblue : #0f3057;
    --red : #EC3D5A;
}
body{
    background-color: var(--dblue);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#navbar{
    position: fixed;
    top: 0%;
    display: flex;
    width: 100%;
    height: 55px;
    text-align: center;
    background-color: var(--dblue);
    box-shadow: 0px 5px 35px 0.1px var(--red);
    flex-direction: row-reverse;
}
.nav-components{
    margin: 10px;
    width: 60px;
    padding: 8px;
    height: fit-content;
    text-align: center;
    background-color: var(--red);
    border: 2px solid var(--red);
    border-radius: 8px;
    transition: all 0.3s ease-in-out ;
    margin-right: 20px;
}
.nav-components a{
    text-decoration: none;
    color: var(--dblue);
    font-weight: bold;
    font-size: large;
}
.nav-components:hover a{
    color: var(--awhite);
}
.nav-components:hover{
    background-color: transparent;
    text-align: center;
    border: 2px solid var(--red);
    border-radius: 20px;
}
#homebtn{
    background-color: transparent;
    border: 2px solid var(--red);
}
#homebtn a{
    color: var(--awhite);
}
#homebtn:hover{
    background-color: var(--red);
}
#homebtn:hover a{
    color: var(--dblue);
}
.Logo{
    margin-top: 10px;
    position: absolute;
    left: 0%;
}
.profile{
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.profile button{
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: var(--dblue);
    cursor: pointer;
    display: flex;
    align-items: center;
}
#chat-window{
    margin-top: 1%;
    width: 60vw;
    height: 65vh;
    border: 2px solid var(--red);
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.266);
    display: flex   ;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
#chat-container{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    font-size: x-large;
    /* background-color: var(--awhite); */
    color: var(--awhite);
    overflow-y: auto;
}
#chat-input{
    background-color: rgba(0, 0, 0, 0.375);
    height: 35px;
    width: 80%;
    outline: none;
    border: 2px solid var(--red);
    border-radius: 10px 0px 0px 10px;
    color: var(--awhite);
    font-size: large;
    border-right: none;
}
#input-section{
    /* background-color: var(--awhite); */
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
#input-section button{
    border: 2px solid var(--red);
    background-color: var(--red);
    border-radius: 0px 10px 10px 0px;
    height: 100%;
    width: 50px;
    cursor: pointer;
}
.heading{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
    font-size: 50px;
    color: var(--red);
    overflow-x: scroll;
    align-items: center;
}
.heading div{
    animation: slide 8s infinite;
    animation-timing-function: linear;
  }
  @keyframes slide{
    0%{
        transform: translateX(550px);
    }
    100%{
        transform: translateX(-600px); 
    }
  }
#contactbtn{
    width: fit-content;
}
#navbar div{
    font-size: x-small;
    margin-right: 1.2%;
}
#content{
    margin-top: 15px;
    width: 60vw;
    border: 2px solid var(--red);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    color: var(--awhite);
    display: none;
}
.o-fzptVd, X8wyAH{
    display: none;
}
.o-cNwRuH, o-brokHI, o-bzsJdq{
    display: none;
}
.o-cHfWwD, fgnPRp{
    display: none;
}
.o-eZTujG, o-jjpuv, o-cVMLxW{
    display: none;
}
.o-bCRRBE, o-bfyaNx, o-bTcQuC, W3A1MZ, o-YCHtV{
    border: 2px solid var(--red);
    border-radius: 10px;
    width: fit-content;
}
.o-bqHweY, o-bVSleT, o-bwCunT, o-bfyaNx, o-bNxxEB{
    margin: 15px;
}
.o-OAYdd, o-GFmfi, o-dbKqqe, o-fzptZB, o-fzptOP, o-fzptYr, o-fzptVd, o-cpnuEd{
    display: block;
    font-size: large;
    font-weight: normal;
}
#Loading{
    color: var(--awhite);
}
#img img{
    border: 4px solid var(--red);
    border-radius: 10px;
    width: 95%;
    height: auto;
}
#carname{
    margin-top: 15px;
    font-size: large;
}
#price{
    margin-top: 10px;
    font-size: large;
}
#verdict{
    margin-top: 10px;
    font-size: large;
}
#variants{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    font-size: large;
}
#specs{
    margin-top: 10px;
    font-size: large;
    text-align: center;
}
#specs h3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
#features{
    margin-top: 10px;
    font-size: large;
}
#features li{
    list-style: none;
}
#summary{
    margin-top: 10px;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#summary li{
    list-style: none;
}
#mileage{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;   
    font-size: large;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}
