<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/js/index.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Motormentor - Home</title>
</head>
<body>
    <div id="navbar">
        <div class="profile"><button onclick="profileclk()"><img src="../static/img/user.png" alt="!" height="40"></button></div>
        <div class="nav-components" id="sell_carbtn"><a href="/sell_car">Sell car</a></div>
        <div class="nav-components" id="homebtn"><a class="anchors" href="/">Home</a></div>
        <div class="Logo"><img src="../static/img/Motormentor.jpg" alt="Logo couldn't loaded" height="35" ></div>
    </div>
    <div class="heading"><span>Message -</span> <img src="../static/img/Motormentor.jpg" alt="couldn't loaded" height="55"></div>
    <div id="chat-window">
        <div id="chat-container"></div>
        <div id="input-section"><input type="text" id="chat-input" name="chat-input" placeholder="Enter the query"><button onclick="send()"><img src="../static/img/send-message.png" alt=" ! " height="25"></button></div>
    </div>
</body>
</html>