<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="stylesheet" href="../static/media queries/index_mobile.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet" />
    <script src="../static/js/index.js"></script>
    <title>Motormentor - Home</title>
</head>

<body>
    <div id="navbar">
        <div class="profile">
            <button onclick="profileclk()">
                <img src="../static/img/profile-user.png" alt="couldn't load" height="40" />
            </button>
        </div>
        <div class="nav-components" id="contactbtn">
            <a class="anchors" href="mailto:projectgp1444@gmail.com">Contact us</a>
        </div>
        <div class="nav-components" id="sell_carbtn">
            <a href="/sell_car">Sell car</a>
        </div>
        <div class="nav-components" id="homebtn">
            <a class="anchors" href="/">Home</a>
        </div>
        <div class="Logo">
            <img src="../static/img/Motormentor.png" alt="Logo couldn't loaded" height="35" />
        </div>
    </div>
    <div class="heading">
        <div>
            Message -<img src="../static/img/Motormentor.png" alt="couldn't loaded" height="45" />
        </div>
    </div>
    <div id="chat-window">
        <div id="chat-container"></div>
        <div id="input-section">
            <input type="text" id="chat-input" name="chat-input" placeholder="Enter the query" />
            <button onclick="send()">
                <img src="../static/img/send_message.png" alt=" ! " height="25" />
            </button>
        </div>
    </div>
    <h3 id="Loading" style="display: none">Loading data...</h3>
    <div id="content1">
        <div id="carname1"></div>
        <div id="d1img">
            <div id="imgd1"></div> 
        </div>
        <!-- <div id="price"></div> -->
        <div id="verdict"></div>
        <div id="variants"></div>
        <!-- <div id="specs">
            <div id="specs1"></div>
            <div id="specs2"></div>
        </div> -->
        <!-- <div id="features">
            <div id="features1"></div>
            <div id="features2"></div>
        </div> -->
        <!-- <div id="mileage">
            <div id="mileage1"></div>
            <div id="mileage2"></div>
        </div> -->
        <div id="kfeatures"></div>
        <div id="specifications"></div>
        <div id="avg"></div>
        <div id="summary"></div>
        <!-- <div id="table"></div> -->
    </div>
    <div id="content">
        <div id="img">
            <div id="img1"></div> 
            <div id="img2"></div> 
        </div>
    </div>
</body>

</html>