<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/profile.css">
    <script src="../static/js/profile.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Profile - Motormentor</title>
</head>
<body>
    <div id="navbar">
        <div class="profile"><button onclick="profileclk()"><img src="../static/img/user.png" alt="couldn't load" height="40"></button></div>
        <div class="nav-components" id="contactbtn"><a class="anchors" href="/contact">Contact us</a></div>
        <div class="nav-components" id="sell_carbtn"><a href="/sell_car">Sell car</a></div>
        <div class="nav-components" id="homebtn"><a class="anchors" href="/">Home</a></div>
        <div class="Logo"><img src="../static/img/Motormentor.jpg" alt="Logo couldn't loaded" height="35" ></div>
    </div>
    <div id="container">
        <div id="name">User name : <span id="user_name"></span></div>
        <div id="email">Email : <span id="user_email"></span></div>
        <div id="status">Status : <span id="user_status"></span></div>
        <div id="history">History : <span id="no_history"></span><div id="user_history"></div></div>
        <button id="loginbtn" onclick="login()">Login</button>
    </div>
</body>
</html>